@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Overlock:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo in body header */

body {
    font-family: overlock, lato;
    font-weight: 700;
    color: #927c00;
}

h1 {
    text-transform: uppercase;
    font-family: Titan One, cursive;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.79);
}

#logo {
    float: left;
    font-size: 200%;
    margin: 25px;
}

/* navigation links */

#logo {
    line-height: 75px;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 120px;
    float: right;
}

#menu li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 580px;
    width: 100%;
    background: url("../images/hero\ image\ mecca.png") no-repeat center center;

 /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#hero-cover-text {
    font-size: 130%;
    font-family: overlock, lato;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 100px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.79);

    bottom: 100px;
    left: 110px;

    position: absolute;
}

#hero-cover-text h2, h3 {
    color: aliceblue;
    text-align: center;
}

/* home page information top*/

#hp-information-top {
    height: 400px;
    width: 100%;
    background-color: black;
}


#hp-information-top div {
    color: #fafafa;
    height: 400px;
    width: 33.33%;

    
    float: left;
 
    text-align: center;

    border: 3px solid #ffbf00;
    box-sizing: border-box;
    
   
}

#table-top {
   
    width: 90%;
    margin: 40px 30px;
}

#table-top tr th {
    border: 0.5px solid gold;
    padding: 4px;
}

/*hp information bottom left*/


#hp-information-bottom-left {
    height: 500px;
    width: 100%;
    background-color: #535353;
}



#hp-information-bottom-left div {
    color: #fafafa;
    width: 50%;
    height: 500px;
    float: left;
    padding-top: 25px;
    text-align: center;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
}

#hp-information-bottom-left ul {
 
    margin-left: 80px;
    padding: 2px;
    text-align: left;
    font-size: 110%;
}

#hp-information-bottom-left p {
 
    margin: 10px 4px 1px 10px;
    padding: 5px;
    text-align: left;
    font-size: 110%;
}

/*hp information bottom right*/

#hp-information-bottom-right {
    height: 500px;
    width: 100%;
    background-color: #535353;
}


#hp-information-bottom-right div {
    color: #fafafa;
    width: 50%;
    height: 500px;
    float: left;
    padding-top: 25px;
    text-align: center;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
}

#hp-information-bottom-right p {
 
    margin: 20px 0px 0px 80px;
    padding: 4px;
    text-align: left;
    font-size: 110%;
}


/* footer */

#hp-footer{
    color: #fafafa;
    background-color: rgb(41, 41, 41);
    text-align: center;
    font-size: 140%;
}

#hp-footer a {
    
    color: #927c00;
    text-decoration: none;
}
#hp-footer a:hover {
    background-color: black;
}

/* guide page */

#guide-apply {
    clear: both;
    height: 350px;
    width: 95%;
    margin-left: 2.5%;
    background-color:  #FFFDD0;
    word-spacing: 2px;
    font-size: 120%;
}
/* guide apply left */

#guide-apply-heading-left {
    font-size: 180%;
    text-align: center;
    margin: 25px;
}

#guide-apply-info {
    height: 350px;
    width: 50%;
    font-size: 98%;
    float: left;
    border: 1.5px solid #3a3a3a;
    box-sizing: border-box;
    background-color:  #FFFDD0;
}

#guide-apply-info li {
    margin-left: 150px;
}

#guide-apply-info p {
    text-align: left;
    margin-left: 50px;
    margin-top: 15px;

}

#guide-apply-info ul {
    margin-left: 10px; 
}

/* guide apply right */

#guide-apply-heading-right {
    font-size: 135%;
    text-align: center;
    margin: 85px;
}

#guide-apply-picture {
    height: 350px;
    width: 50%;
    float: right;
    border: 1.5px solid #3a3a3a;
    box-sizing: border-box;
    background-color:  #FFFDD0;
    text-align: center;
    font-size: 250%;
}

/* guide travel */

#guide-travel {
  
    height: 250px;
    width: 95%;
    margin-left: 2.5%;
    background-color:  #FFFDD0;
    word-spacing: 2px;
    font-size: 25px;
}

/* guide travel left */

#guide-travel-heading-left {
    font-size: 250%;
    text-align: center;
    margin-top: 100px;
}
#guide-travel-picture {
    height: 250px;
    width: 50%;
    float: left;
    border: 1.5px solid #3a3a3a;
    box-sizing: border-box;
    background-color:  #FFFDD0;
}

/* guide travel right */

#guide-travel-heading-right {
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}

#guide-travel-info {
    height: 250px;
    width: 50%;
    float: right;
    font-size: 100%;
    text-align: center;
    border: 1.5px solid #3a3a3a;
    box-sizing: border-box;
    background-color:  #FFFDD0;
}



/* guide sleep */

#guide-sleep {
    clear: both;
    height: 250px;
    width: 95%;
    margin-left: 2.5%;
    background-color:  #FFFDD0;
    word-spacing: 2px;
    font-size: 25px;
}
/* guide sleep left */

#guide-sleep-heading-left {
    font-size: 200%;
    text-align: center;
    margin: 55px;
}

#guide-sleep-info {
    height: 250px;
    width: 50%;
    float: left;
    border: 1.5px solid #3a3a3a;
    box-sizing: border-box;
    background-color:  #FFFDD0;
}

#guide-sleep-heading-right {
    font-size: 110%;
    text-align: center;
    margin: 80px;
}

#guide-sleep-picture {
    height: 250px;
    width: 50%;
    float: right;
    border: 1.5px solid #3a3a3a;
    box-sizing: border-box;
    background-color:  #FFFDD0;
    text-align: center;
    font-size: 220%;
}

/* guide page photos section */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}
#photos h2 {
    margin: 25px;
    padding: 5px;
    text-align: center;
    column-span: all;
}

#photos > img {
    width: 100%;
}

/* guide page footer */

