@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Overlock:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo in body header */

body {
    font-family: overlock, lato;
    font-weight: 700;
    color: #927c00;
}

h1 {
    text-transform: uppercase;
    font-family: Titan One, cursive;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.79);
}

#logo {
    float: left;
    font-size: 200%;
    margin: 25px;
}

/* navigation links */

#logo {
    line-height: 75px;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 120px;
    float: right;
}

#menu li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 580px;
    width: 100%;
    background: url("../images/hero\ image\ mecca.png") no-repeat center center;

 /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#hero-cover-text {
    font-size: 130%;
    font-family: overlock, lato;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 100px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.79);

    bottom: 100px;
    left: 110px;

    position: absolute;
}

#hero-cover-text h2, h3 {
    color: aliceblue;
    text-align: center;
}

/* home page information top*/

#hp-information-top {
    height: 400px;
    width: 100%;
    background-color: black;
}


#hp-information-top div {
    color: #fafafa;
    height: 400px;
    width: 33.33%;
    font-size: 130%;
    
    float: left;
 
    text-align: center;
    padding-top: 25px;

    border: 3px solid #ffbf00;
    box-sizing: border-box;
}

#hp-information-top a {
    font-size: 80px;
    color: #ffbf00;
    text-decoration: none;
}

#hp-information-top p {
    margin: 25px;
}

/* table home page */

#table-top {
   
    width: 90%;
    margin: 10px 30px;
}

#table p {
    padding-top: 10px;
}

#table-top a {
    color: inherit;
    text-decoration:none;
}
#table-top tr th {
    border: 0.5px solid gold;
    padding: 4px;
}

/*hp information bottom left*/

#hp-information-bottom {
    height: 400px;
    width: 100%;
    background-color: #535353;
}


#hp-information-bottom-left {
    color: #fafafa;
    height: 400px;
    width: 50%;
    float: left;
    padding-top: 25px;
    font-size: 150%;
    text-align: center;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
}

#hp-information-bottom-left ul {
    margin-left: 250px;
    padding: 10px;
    text-align: left;
    
}

#hp-information-bottom-left p {
    margin: 10px 4px 1px 10px;
    padding-left: 30px;
    text-align: center;
  
}

#hp-information-bottom-left a {
    color: #ffbf00;
    text-decoration: none; 
    font-size: 70px;  
}

/*hp information bottom right*/

#hp-information-bottom-right {
    color: #fafafa;
    height: 400px;
    width: 50%;
    float: right;
    padding-top: 25px;
    font-size: 150%;
    text-align: center;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
}

#hp-information-bottom-right p {
 
    margin-top: 5px;
    margin-left: 30px;
    padding: 2px;
 
    font-size: 110%;
}

#hp-information-bottom-right ul {
    margin-left: 250px;
    padding: 10px;
    text-align: left;
    
}

#hp-information-bottom-right a {
    color: #ffbf00;
    text-decoration: none; 
    font-size: 70px;  
}

/* footers */

.footer{
    height: 110px;
    background-color: rgb(41, 41, 41);
    text-align: center;
    font-size: 130%;
    padding-top: 25px;
}

.footer a {
    font-size: 145%;
    color: inherit;
    text-decoration: none;
}
.footer a:hover {
    background-color: #fafafa;
}

.footer-signup {
    height: 75px;
    background-color: rgb(41, 41, 41);

    
    font-size: 130%;
    padding-top: 25px;
    padding-left: 400px;
}

.footer-signup-icon li {
    font-size: 200%;
    display: inline;
}

.footer-signup i {
    padding-left: 250px;
    color: #ffbf00;
}


/* guide page */

#guide-apply {
    clear: both;
    height: 375px;
    width: 95%;
    margin-left: 2.5%;
    background-color:  black;
    word-spacing: 2px;
    font-size: 130%;
}
/* guide apply left */

#guide-apply-heading-left {
    font-size: 180%;
    text-align: center;
    margin: 25px;
    color: inherit;
}
    
#guide-apply-left {
    height: 375px;
    width: 70%;
    font-size: 98%;
    float: left;
    border: 2px solid #ffbf00;
    box-sizing: border-box;

}

#guide-apply-left li {
    margin-left: 150px;
}

#guide-apply-left p {
    text-align: left;
    margin-left: 50px;
    margin-top: 15px;

}

#guide-apply-left ul {
    margin-left: 10px; 
}

/* guide apply right */

#guide-apply-heading-right {
    font-size: 190%;
    text-align: center;
    margin: 100px;
}

#guide-apply-right {
    height: 375px;
    width: 30%;
    float: right;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
    background-color:  #292929;
    text-align: center;
}

#guide-apply-right a {
    color: inherit;
    text-decoration: none;
}

/* guide travel */

#guide-travel {
    height: 250px;
    width: 95%;
    margin-left: 2.5%;
    word-spacing: 2px;
    font-size: 25px;
}

/* guide travel left */

#guide-travel-heading-left {
    font-size: 200%;
    text-align: center;
}

#guide-travel-left {
    height: 250px;
    width: 70%;
    float: left;
    padding-top: 30px;
    font-size: 140%;
    text-align: center;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
    background-color:  black;
}

/* guide travel right */

#guide-travel-heading-right {
    font-size: 200%;
    text-align: center;
    margin-top: 100px;
}
#guide-travel-right {
    height: 250px;
    width: 30%;
    float: right;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
    background-color:  #292929;
}

#guide-travel-right a {
    color: inherit;
    text-decoration: none;
}

/* guide sleep */

#guide-sleep {
    clear: both;
    height: 250px;
    width: 95%;
    margin-left: 2.5%;
    background-color:  black;
    word-spacing: 2px;
    font-size: 25px;
}
/* guide sleep left */

#guide-sleep-left {
    height: 250px;
    width: 70%;
    float: left;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
    background-color:  black;
}

#guide-sleep-heading-left {
    font-size: 200%;
    text-align: center;
    margin: 55px;
}

/* guide sleep right */

#guide-sleep-right {
    height: 250px;
    width: 30%;
    float: right;
    border: 2px solid #ffbf00;
    box-sizing: border-box;
    background-color:  #292929;
    text-align: center;
    font-size: 220%;
}

#guide-sleep-heading-right {
    font-size: 110%;
    text-align: center;
    margin-top: 80px;
}

#guide-sleep-right a {
    color: inherit;
    text-decoration: none;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}
#photos h2 {
    margin: 25px;
    padding: 5px;
    text-align: center;
    column-span: all;
}

#photos img {
    width: 634.5px;
}

/* form */
.form-section {
    clear: left;
    background: url("../images/signup\ bg.jpeg") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 3px solid black; 
 
}

.signup-form {
    margin-top: 150px;
    margin-left: 900px;
    color: #ffbf00;
    background-color: black;
    max-width: 700px;
    position: absolute;

    padding: 30px;
}

.signup-form > h2 {
    
    color: #ffbf00;
    margin-bottom: 20px;
    text-align: center;
    font: titan one;
}

.text-input {
    background: transparent;
    color: #ffbf00;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ffbf00;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #ff0101;
}

input[type="radio"] {
    margin-right: 20px;
  }

.join-button {
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 140%;
    background-color: #ffbf00;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #ffbf00;
}

/* signed up */

.thank-you {
    clear: both;
    height: 400px;
    background-color: rgb(41, 41, 41);
    text-align: center;
    font-size: 180%;
    padding-top: 250px;

}
.thank-you div {
    width: 900px;
    margin-left: 450px;
}

.thank-you a {
    color: blue;
    text-decoration: none;

}


/* media queries */

/* For larger to medium screens size from 1200px wide and down */

/* will come back to this later */
@media screen and (max-width: 1200px) {
    #hp-information-top {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    #hp-information-bottom-left {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }
}